

.container {
    padding-top: 50px;
}
/*.card-header {*/
/*    background-color: #007bff;*/
/*    color: #fff;*/
/*    border-radius: 10px 10px 0 0;*/
/*}*/
.form-group label {
    font-weight: bold;
}

.mainDive {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    width: 400px; /* اندازه کارت */
}

.card-header {
    text-align: center;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}


.btn-primary {
    border-radius: 5px;
    background-color: #007bff;
    border-color: #007bff;
    display: block;
    margin: 0 auto; /* وسط چین کردن دکمه */
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


/*success and errorr ui css*/
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}
.info-msg {
    color: #059;
    background-color: #BEF;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}
